.completed-task {
  text-decoration: line-through;
  color: gray;
}

input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
}

input[type='checkbox']:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.table-scroll-viewport {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.75rem;
}

th {
  background-color: #000048;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}
